/*! base css başlangıç */
* {
  margin: 0;
}
/*! base css bitiş */
/*! başlangıç Headder     */
.searchbuttonphone{
    display: none;
}
.searchboxphone{
    display: none;
}
.navbar {
  height: 6rem;
  height: 100%;
}
.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}
.menu-list{
    display: flex;
    list-style: none;
    column-gap: 3rem;
}
.logo {
  color: red;
  font-size: 3rem;
}
.profile-list{
    display: flex;
    list-style: none;
    column-gap: 2rem;
}
.bell {
    width: 2rem;
}
.profile{
    width: 2rem;
}
.searchbox{
    margin-top: 0.5rem;}
.searchbutton {
    position: absolute;
    cursor: pointer;
    margin-left: 9.5rem;
    margin-top: 0.5rem;
}
/*! bitiş Headder     */
/*! tanitim başlangıç     */
.content-wrapper{
    background-image: url(resimler/tanitim.jpg);
    padding: 5rem;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.5);
}
.container {
    margin-left: 3rem;
    margin-right: 3rem;
}
.tanitimlogo{
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.5);
}
.tanitim-acilama{
    width: 50rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem;
    margin: 0;
}
.tanitimplaybuton {
    color: white;
    background-color: red;
    height: 4rem;
    width: 10rem;
}
.rating{
display: flex;
flex-direction: row;
align-items: center;
list-style: none;
column-gap: 0.5rem;
background-color: rgba(255, 255, 255, 0.5);
height: 3rem;
width: 25rem;
margin: 0;
}
/*! tanitim bitiş     */

/*! popular movies başlangıç     */
.movielist-wrapper{
    display: flex;
    flex-direction: row;
}
.movie-img{
    width: 30rem;
    margin-left: 2rem;
}
.popmovielist{
    list-style: none;
    padding: 0rem;
}
.movielisttitle{
    background-color: rgba(40, 40, 40, 0.4);
    padding: 0 1rem;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    margin-left: 10rem;
}
.movieplaybuton1{
    position: absolute;
    margin-left: 10rem;
    margin-top: 10rem;
}
.movieplaybuton {
    color: white;
    background-color: red;
    height: 4rem;
    width: 10rem;
}
.popmovielist{
    display: flex;
    align-items: center;
}
.movielist-container{
    margin-top: 3rem;
    margin-left: 3rem;
}
/*! popular movies bitiş     */
/*!  terms Start    */
.terms-start {
    margin-top: 5rem;
    list-style: none;
    display: flex;
    gap: 5rem;
}
.terms-list {
    margin-left: 3rem;
    margin-top: 6rem;
    display: flex;
}
.terms-end{
    margin-left: 50rem;
    list-style: none;
    display: flex;
    gap: 10rem;
}
.terminfo{
    width: 40rem;
}
.followicons{
    width: 20rem;
}
.facebook{
    width: 5rem;
    margin-left: 8rem;
}
.twitter {
    width: 4rem;
}
.apps {
    width: 10rem;
    margin-left: 3rem;
}
.altyazi {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 0;
}
/*!  terms End    */
@media (max-width: 420px) {
/*!  header phone start    */

.searchboxphone{
    display: flex;
    position: absolute;
    margin-left: 280px;
    margin-top: 20px;
    width: 120px;
}
.searchbuttonphone{
    display: flex;
    position: absolute;
    margin-left: 260px;
    margin-top: 20px;
}
.searchbox{
    display: none;
}
.navbar {
    width: 100%;
}
.navbar-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 ;
    margin: 0;
    flex-direction: row;
}
.bell {
    display: none;
}
.profile {
    display: none;
}
.profile-list-item {
    align-self: flex-end;
}
.container {
    width: 100%;
    padding: 0;
    margin: 0;
}
/*!  header phone  End    */
/*!  content phone start    */
.content-wrapper{
    background-image: url(resimler/tanitim.jpg);
    background-size: cover;
    padding: 0;
    margin-top: 10px;
    margin-left: 5px;
    height: 50vh;
    width: 390px;
    background-color: rgba(255, 255, 255, 0.5);
}
.rating {
    width: 255px;
    margin-left: 10px;
}
.tanitimplaybuton {
    width: 100px;
    height: 50px;
    margin-left: 10px;
}
.tanitimlogo{
    width: 240px;
    height: 80px;
    margin-left: 10px;
}
.tanitim-acilama {
    width: 200px;
    height: 120px;
    margin-left: 10px;
}
.movielist-container {
    padding: 0;
    margin: 0;
}

.movie-img {
    width: 100px;
    height: 100px;
}

.movielisttitle {
    width: 20px;
    height: 20px;
    margin-left: 35px;
    font-size: 20px;
    color: white;
}
.movieplaybuton{
    width: 70px;
    height: 40px;
}
.movieplaybuton1{
    margin: 0;
    margin-top: 40px;
    margin-left: 50px;

}
/*!  content phone end  */
/*!  terms Start    */
.termscontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}
.terms-start{
    display: flex;

    padding: 0;
    margin-left: 40px;
    gap: 10px;
}
.altyazi{
    margin-left: 20px;
    padding: 0;
    margin-top: 110px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.terminfo{
    width: 200px;
}
.terms-end{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    margin-left: 150px;
    padding: 0;
    gap: 150px;
}
.followicons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.facebook{
    margin-top: 2px;
    height: 70px;
}
.twitter{
    margin-top: 7px;
    height: 60px;
}
}
/*!  terms End    */